@media (max-width: 1260px) {
  /* SECTION 04 - DUNGEONS & DRAGONS FORM */
  #section-form .form-container::after {
    content: '';
    background-color: var(--highlight-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
  }
}

@media (max-width: 920px) {
  h1,
  h2,
  h3 {
    font-size: 2.4rem;
  }

  /* SECTION 01 INVERTED WORLD */
  #section-inverted-world {
    flex-direction: column;
  }

  #section-inverted-world .section-texts {
    width: initial;
    text-align: center;
    margin-bottom: 20px;
  }

  #section-inverted-world .section-texts h2 {
    max-width: 100%;
  }

  #section-inverted-world img {
    width: 40%;
  }

  /* SECTION 02 - STRANGER THINGS TRAILER */
  #section-stranger-things-trailer {
    flex-direction: column-reverse;
    align-items: center;
  }

  #section-stranger-things-trailer .section-texts {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  #section-stranger-things-trailer .section-texts h2 {
    max-width: initial;
  }

  /* SECTION 03 - STRANGER THINGS GALLERY */
  #section-stranger-things-gallery {
    background-size: 65%;
  }

  #section-stranger-things-gallery .container h2 {
    width: initial;
    text-align: center;
  }

  #section-stranger-things-gallery .gallery-image {
    width: 200px;
    height: 200px;
  }

  #section-stranger-things-gallery .gallery-container {
    gap: 5px;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  #section-stranger-things-gallery .gallery-image {
    width: 200px;
    height: 200px;
    outline: 10px;
  }

  /* SECTION 04 - DUNGEONS & DRAGONS FORM */
  #section-form {
    gap: 25px;
  }

  #section-form h2 {
    width: initial;
  }

  #section-form .form-content {
    width: 100%;
    flex-direction: column;
  }

  #section-form .form-content h3 {
    text-align: center;
    width: 100%;
    flex-basis: initial;
    margin-bottom: 20px;
  }

  #section-form .form-container {
    flex-basis: auto;
    max-width: 400px;
    width: 100%;
  }

  /* FOOTER */
  footer::before,
  footer::after {
    width: 200px;
    height: 135px;
  }
}

@media (max-width: 680px) {
  /* WORLD CHARACTERS STYLES */
  .world-characters#bottom-characters {
    height: 350px;
  }

  /* SECTION 02 - STRANGER THINGS TRAILER */
  #section-stranger-things-trailer .video-frame iframe {
    width: 100%;
    height: auto;
    bottom: 10px;
    left: 10px;
  }

  /* SECTION 03 - STRANGER THINGS GALLERY */
  #section-stranger-things-gallery {
    background-size: 140%;
    background-position: 50%;
  }
}

@media (max-width: 500px) {
  h1, h2, h3 {
    font-size: 2.2rem;
    margin-bottom: 35px;
  }

  header {
    min-height: 700px;
  }

  /* WORLD CHARACTERS STYLES */
  .world-characters#bottom-characters {
    height: 225px;
  }

  /* FOOTER */
  footer::before,
  footer::after {
    content: none;
  }
}
